<div class='form'><br>
    <div class='form1'>
        <div class="container form2" [formGroup]="registrationForm">
            <h1 class='title sign'>Create User</h1><br>

            <div class="email-input">
                <label class='text' type='email' placeholder="Email">Email</label>
                <input id="email" type="email" #email>
        
            </div>
            <div class="email-input">
                <label class='text' type='username' placeholder="Email">Username</label>
                <input id="username" type="username" #username>
        
            </div>

            <div class="name-input">
                <label class='text' type='name' for="name">Name</label>
                <input id="name" type="name" formControlName="name" #name placeholder="Name"><br>
                <div *ngFor="let v of validation.name">
                    <div style="color: red" *ngIf="registrationForm.controls['name'].hasError(v.type) &&
                        (registrationForm.controls['name'].dirty || registrationForm.controls['name'].touched)">
                        {{v.message}}
                    </div>
                </div>
            </div>

            <div class="password-input">
                <label class='text' type='passowrd' placeholder="password">Password</label>
                <input id="password" type="password" #password>
        
            </div>

            <div class="age-input">
                <label class='text' type='number' for="age">Age</label>
                <input #age style='margin-left: 10px;' id="age" placeholder="Age" type="number" formControlName='age'>
                <br>
                <div *ngFor="let v of validation.age">
                    <div style="color: red" *ngIf="registrationForm.controls['age'].hasError(v.type) &&
                        (registrationForm.controls['age'].dirty || registrationForm.controls['age'].touched)">
                        {{v.message}}
                    </div>
                </div>
            </div>
            <button mat-button id='sumbit' class="submit" [disabled]="!registrationForm.valid"
                (click)='onSubmit(null ,age.value, name.value, password.value, email.value, username.value)'> Submit</button>
        </div>

    </div>
</div>