<div *ngFor="let todo of todolist">
    <div class='tododiv' *ngIf="todo.todo != null">
        <label class="todotitle" *ngIf="todo.todo != null ">{{todo.username}}'s todo:</label>
        <button *ngIf='this.loggedUser === todo.username && todo.todo != null' class='delete' (click)="deleteTodo(this.loggedUser, todo._id)">X</button><br>
        <label class="todo">{{todo.todo}}</label>
        
    </div>
</div>
<div>
    <input #todo placeholder="Create a todo">
    <button mat-raised-button (click)="createTodo(todo.value)">Submit</button>
</div>
