<div class="tododiv">
    <h1 class="todotitle">My Todo List</h1>
    <div class="main">
        <div class="createtodo">
            <mat-form-field>
                <input class='todoinput' matInput #todoinput placeholder="Create a todo">
            </mat-form-field>
            <button class="addtodo" mat-flat-button (click)="createTodo(todoinput.value)">Add</button>
        </div>
    </div>
    <div id='todo' *ngFor="let todo of todoList">
        <mat-checkbox color="primary" #confirmed>
        </mat-checkbox>
        <div class="textdiv">
            <label for='todo' [style.text-decoration]="confirmed.checked? 'line-through':''"
                class="todotext">{{todo.text}}</label>
        </div>
        <div class="delete-container">
            <button id="delete-button" (click)="deleteTodo(todo._id)">X</button>
        </div>
    </div>
</div>