<div *ngFor="let todo of todoList">
    <div class='tododiv' *ngIf="todo.text != null">
        <label class="todotitle" *ngIf="todo.text != null ">{{todo.ownerId}}'s todo:</label>
        <button *ngIf='this.loggedUser === todo.ownerId && todo.text != null' class='delete' (click)="deleteTodo(todo._id)">X</button><br>
        <label class="todo">{{todo.text}}</label>
        
    </div>
</div>
<div>
    <input #todo placeholder="Create a todo">
    <button mat-raised-button (click)="createTodo(todo.value)">Submit</button>
</div>
